<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671274569357-7hc6fgjeho232olg2c3888767pgvhqmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671274569357-7hc6fgjeho232olg2c3888767pgvhqmq</string>
	<key>API_KEY</key>
	<string>AIzaSyAEWbaEymBWYeyktOF_TuGnPhPqa41AI94</string>
	<key>GCM_SENDER_ID</key>
	<string>671274569357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.flutterfly.foodManager</string>
	<key>PROJECT_ID</key>
	<string>foodmanager-72ac4</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmanager-72ac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671274569357:ios:272cde3e384fce0205dcc4</string>
	<key>DATABASE_URL</key>
	<string>https://foodmanager-72ac4.firebaseio.com</string>
</dict>
</plist>